body{
    background-color:black;
}
#moviesdiv{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap:10px;

    
}
#eachmovie{
    
    width:200px;
    margin: 10px;
    margin-top: 50px;
    border: black solid 2px;
    height: 300px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    border-radius:20px;
    align-items: center;
     flex-shrink: 0;
    justify-content: center;
    transition:0.1s ease-in-out;
   padding-top: 20px;
}

#tittle{
        padding: 10px;
        margin-right: 50px;
        font-size: 15px;
        border-radius: 5px;
        width: 500px;
        border: none;
        outline: none;
        
        box-shadow: 0 0 5px 0 white;
      
}
#button{
    padding: 5px;
    margin-top: 3px;
    background-color: rgb(34, 225, 246);
    color: white;
    border: none;
    height:30px;
    border-radius: 5px;
    cursor: pointer;
    transition:0.3s ease-in-out;
}
#button:hover{
    background-color: rgb(227, 45, 17);
}
@media (max-width:500px) {
    #eachmovie{
        width: 90%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    }
    #eachposter{
        width: 150px;
        color: white;
        border-radius:20px;
    }
}
#eachposter{
    width: 98%;
    height: 70%;
    margin: 10px;
    padding: 10px;
     border-radius:20px;
    border: 1px solid black;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    color:white;
}
#Moviesfinder{
    position:sticky;
    z-index:10;
    top:10px;

}
#searchbar{
    position: sticky;
    top:60px;
    z-index:10;
    display: flex;
    justify-content: center;
}
#eachmovie:hover{
    transform: scale(1.05);

     border:rgb(66, 246, 34) solid 2px;
     color:blue;

}


.loader {
position: absolute;
top:40%;
    right:50%;
    height: 100vh;
    z-index: 1000;
    display: none;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  
  border-top: 4px solid #FFF;
  border-right: 4px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after {
  content: '';  
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border-left: 4px solid #FF3D00;
  border-bottom: 4px solid transparent;
  animation: rotation 0.5s linear infinite reverse;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 